api/trunk/resources/xsd/Search.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="Search" targetNamespace="Search" xmlns:email="Email"
	xmlns:email2="Email2" xmlns:calendar="Calendar" xmlns:notes="Notes"
	xmlns:tasks="Tasks" xmlns:mstns="Search" xmlns="Search" xmlns:airsync="AirSync"
	xmlns:contacts="Contacts" xmlns:contacts2="Contacts2"
	xmlns:airsyncbase="AirSyncBase" xmlns:documentlibrary="DocumentLibrary"
	xmlns:rm="RightsManagement" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	attributeFormDefault="qualified" elementFormDefault="qualified">

	<xs:import namespace="DocumentLibrary" schemaLocation="DocumentLibrary.xsd" />
	<xs:import namespace="AirSync" schemaLocation="AirSync.xsd" />
	<xs:import namespace="AirSyncBase" schemaLocation="AirSyncBase.xsd" />
	<xs:import namespace="Email" schemaLocation="Email.xsd" />
	<xs:import namespace="Email2" schemaLocation="Email2.xsd" />
	<xs:import namespace="Calendar" schemaLocation="Calendar.xsd" />
	<xs:import namespace="Notes" schemaLocation="Notes.xsd" />
	<xs:import namespace="Tasks" schemaLocation="Tasks.xsd" />
	<xs:import namespace="Contacts" schemaLocation="Contacts.xsd" />
	<xs:import namespace="Contacts2" schemaLocation="Contacts2.xsd" />
	<xs:import namespace="RightsManagement" schemaLocation="RightsManagement.xsd" />

	<xs:element name="LongId">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1" />
				<xs:maxLength value="256" />
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:complexType name="EmptyTag" />
	<xs:complexType name="queryType" mixed="true">
		<xs:sequence>
			<xs:choice maxOccurs="unbounded">
				<xs:element name="And" type="queryType" minOccurs="0" />
				<xs:element name="FreeText" type="xs:string" minOccurs="0" />
				<xs:element ref="airsync:Class" minOccurs="0" maxOccurs="unbounded" />
				<xs:element ref="airsync:CollectionId" minOccurs="0"
					maxOccurs="unbounded" />
				<xs:element name="ConversationId" type="xs:string"
					minOccurs="0" />
				<xs:element name="EqualTo" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="documentlibrary:LinkId" />
							<xs:element name="Value">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="1024" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="GreaterThan" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="email:DateReceived" />
							<xs:element name="Value">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="1024" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="LessThan" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="email:DateReceived" />
							<xs:element name="Value">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="1024" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="SearchRequest">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element name="Store">
					<xs:complexType>
						<xs:all>
							<xs:element name="Name">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1" />
										<xs:maxLength value="256" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Query" type="queryType" />
							<xs:element name="Options" minOccurs="0">
								<!-- Must differentiate between document library and Mailbox options...! -->
								<xs:complexType>
									<xs:choice maxOccurs="unbounded">
										<xs:element ref="airsync:MIMESupport" minOccurs="0" />
										<xs:element ref="airsyncbase:BodyPreference"
											minOccurs="0" maxOccurs="unbounded" />
										<xs:element ref="airsyncbase:BodyPartPreference"
											minOccurs="0" />
										<xs:element ref="rm:RightsManagementSupport"
											minOccurs="0" />
										<xs:element name="Range">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:pattern value="[0-9]{1,3}-[0-9]{1,3}" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="UserName">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="100" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Password">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="100" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="DeepTraversal" type="EmptyTag" />
										<xs:element name="RebuildResults" type="EmptyTag" />
										<xs:element name="Picture" minOccurs="0">
											<xs:complexType>
												<xs:all>
													<xs:element name="MaxSize" type="xs:unsignedInt"
														minOccurs="0" />
													<xs:element name="MaxPictures" type="xs:unsignedInt"
														minOccurs="0" />
												</xs:all>
											</xs:complexType>
										</xs:element>
									</xs:choice>
								</xs:complexType>
							</xs:element>
						</xs:all>
					</xs:complexType>
				</xs:element>
			</xs:choice>
		</xs:complexType>
	</xs:element>

	<xs:element name="SearchResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Status" minOccurs="0" />
				<xs:element name="Response">
					<xs:complexType>
						<xs:all>
							<xs:element name="Store">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Status" />
										<xs:element name="Result" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element ref="airsync:Class" />
													<xs:element name="LongId" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="0" />
																<xs:maxLength value="265" />
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element ref="airsync:CollectionId" />
													<xs:element name="Properties">
														<xs:complexType>
															<xs:all>
																<xs:element ref="email:To" minOccurs="0" />
																<xs:element ref="email:Cc" minOccurs="0" />
																<xs:element ref="email:From" minOccurs="0" />
																<xs:element ref="email:Subject" minOccurs="0" />
																<xs:element ref="email:ReplyTo" minOccurs="0" />
																<xs:element ref="email:DateReceived"
																	minOccurs="0" />
																<xs:element ref="email:DisplayTo" minOccurs="0" />
																<xs:element ref="email:ThreadTopic"
																	minOccurs="0" />
																<xs:element ref="email:Importance" minOccurs="0" />
																<xs:element ref="email:Read" minOccurs="0" />
																<xs:element ref="airsyncbase:Attachments"
																	minOccurs="0" />
																<xs:element ref="airsyncbase:Body" minOccurs="0" />
																<xs:element ref="airsyncbase:BodyPart"
																	minOccurs="0" />
																<xs:element ref="email:MessageClass"
																	minOccurs="0" />
																<xs:element ref="email:MeetingRequest"
																	minOccurs="0" />
																<xs:element ref="email:InternetCPID"
																	minOccurs="0" />
																<xs:element ref="email:Flag" minOccurs="0" />
																<xs:element ref="airsyncbase:NativeBodyType"
																	minOccurs="0" />
																<xs:element ref="email:ContentClass"
																	minOccurs="0" />
																<xs:element ref="email2:UmCallerID"
																	minOccurs="0" />
																<xs:element ref="email2:UmUserNotes"
																	minOccurs="0" />
																<xs:element ref="email2:ConversationId"
																	minOccurs="0" />
																<xs:element ref="email2:ConversationIndex"
																	minOccurs="0" />
																<xs:element ref="email2:Sender" minOccurs="0" />
																<xs:element ref="email2:LastVerbExecuted"
																	minOccurs="0" />
																<xs:element ref="email2:LastVerbExecutionTime"
																	minOccurs="0" />
																<xs:element ref="email2:ReceivedAsBcc"
																	minOccurs="0" />
																<xs:element ref="email:Categories" minOccurs="0" />
																<xs:element ref="calendar:Timezone"
																	minOccurs="0" />
																<xs:element ref="calendar:AllDayEvent"
																	minOccurs="0" />
																<xs:element ref="calendar:BusyStatus"
																	minOccurs="0" />
																<xs:element ref="calendar:OrganizerName"
																	minOccurs="0" />
																<xs:element ref="calendar:OrganizerEmail"
																	minOccurs="0" />
																<xs:element ref="calendar:DtStamp" minOccurs="0" />
																<xs:element ref="calendar:EndTime" minOccurs="0" />
																<xs:element ref="calendar:Location"
																	minOccurs="0" />
																<xs:element ref="calendar:Reminder"
																	minOccurs="0" />
																<xs:element ref="calendar:Sensitivity"
																	minOccurs="0" />
																<xs:element ref="calendar:Subject" minOccurs="0" />
																<xs:element ref="calendar:StartTime"
																	minOccurs="0" />
																<xs:element ref="calendar:UID" minOccurs="0" />
																<xs:element ref="calendar:MeetingStatus"
																	minOccurs="0" />
																<xs:element ref="calendar:Attendees"
																	minOccurs="0" />
																<xs:element ref="calendar:Recurrence"
																	minOccurs="0" />
																<xs:element ref="calendar:Exceptions"
																	minOccurs="0" />
																<xs:element ref="calendar:ResponseRequested"
																	minOccurs="0" />
																<xs:element ref="calendar:AppointmentReplyTime"
																	minOccurs="0" />
																<xs:element ref="calendar:ResponseType"
																	minOccurs="0" />
																<xs:element ref="calendar:DisallowNewTimeProposal"
																	minOccurs="0" />
																<xs:element ref="contacts:Anniversary"
																	minOccurs="0" />
																<xs:element ref="contacts:AssistantName"
																	minOccurs="0" />
																<xs:element ref="contacts:AssistantPhoneNumber"
																	minOccurs="0" />
																<xs:element ref="contacts:Birthday"
																	minOccurs="0" />
																<xs:element ref="contacts:Business2PhoneNumber"
																	minOccurs="0" />
																<xs:element ref="contacts:BusinessAddressCity"
																	minOccurs="0" />
																<xs:element ref="contacts:BusinessPhoneNumber"
																	minOccurs="0" />
																<xs:element ref="contacts:WebPage" minOccurs="0" />
																<xs:element ref="contacts:BusinessAddressCountry"
																	minOccurs="0" />
																<xs:element ref="contacts:Department"
																	minOccurs="0" />
																<xs:element ref="contacts:Email1Address"
																	minOccurs="0" />
																<xs:element ref="contacts:Email2Address"
																	minOccurs="0" />
																<xs:element ref="contacts:Email3Address"
																	minOccurs="0" />
																<xs:element ref="contacts:BusinessFaxNumber"
																	minOccurs="0" />
																<xs:element ref="contacts:FileAs" minOccurs="0" />
																<xs:element ref="contacts:Alias" minOccurs="0" />
																<xs:element ref="contacts:WeightedRank"
																	minOccurs="0" />
																<xs:element ref="contacts:FirstName"
																	minOccurs="0" />
																<xs:element ref="contacts:MiddleName"
																	minOccurs="0" />
																<xs:element ref="contacts:HomeAddressCity"
																	minOccurs="0" />
																<xs:element ref="contacts:HomeAddressCountry"
																	minOccurs="0" />
																<xs:element ref="contacts:HomeFaxNumber"
																	minOccurs="0" />
																<xs:element ref="contacts:HomePhoneNumber"
																	minOccurs="0" />
																<xs:element ref="contacts:Home2PhoneNumber"
																	minOccurs="0" />
																<xs:element ref="contacts:HomeAddressPostalCode"
																	minOccurs="0" />
																<xs:element ref="contacts:HomeAddressState"
																	minOccurs="0" />
																<xs:element ref="contacts:HomeAddressStreet"
																	minOccurs="0" />
																<xs:element ref="contacts:MobilePhoneNumber"
																	minOccurs="0" />
																<xs:element ref="contacts:Suffix" minOccurs="0" />
																<xs:element ref="contacts:CompanyName"
																	minOccurs="0" />
																<xs:element ref="contacts:OtherAddressCity"
																	minOccurs="0" />
																<xs:element ref="contacts:OtherAddressCountry"
																	minOccurs="0" />
																<xs:element ref="contacts:CarPhoneNumber"
																	minOccurs="0" />
																<xs:element ref="contacts:OtherAddressPostalCode"
																	minOccurs="0" />
																<xs:element ref="contacts:OtherAddressState"
																	minOccurs="0" />
																<xs:element ref="contacts:OtherAddressStreet"
																	minOccurs="0" />
																<xs:element ref="contacts:PagerNumber"
																	minOccurs="0" />
																<xs:element ref="contacts:Title" minOccurs="0" />
																<xs:element ref="contacts:BusinessAddressPostalCode"
																	minOccurs="0" />
																<xs:element ref="contacts:LastName"
																	minOccurs="0" />
																<xs:element ref="contacts:Spouse" minOccurs="0" />
																<xs:element ref="contacts:BusinessAddressState"
																	minOccurs="0" />
																<xs:element ref="contacts:BusinessAddressStreet"
																	minOccurs="0" />
																<xs:element ref="contacts:JobTitle"
																	minOccurs="0" />
																<xs:element ref="contacts:YomiFirstName"
																	minOccurs="0" />
																<xs:element ref="contacts:YomiLastName"
																	minOccurs="0" />
																<xs:element ref="contacts:YomiCompanyName"
																	minOccurs="0" />
																<xs:element ref="contacts:OfficeLocation"
																	minOccurs="0" />
																<xs:element ref="contacts:RadioPhoneNumber"
																	minOccurs="0" />
																<xs:element ref="contacts:Picture" minOccurs="0" />
																<xs:element ref="contacts:Categories"
																	minOccurs="0" />
																<xs:element ref="contacts:Children"
																	minOccurs="0" />
																<xs:element ref="contacts2:CustomerId"
																	minOccurs="0" />
																<xs:element ref="contacts2:GovernmentId"
																	minOccurs="0" />
																<xs:element ref="contacts2:IMAddress"
																	minOccurs="0" />
																<xs:element ref="contacts2:IMAddress2"
																	minOccurs="0" />
																<xs:element ref="contacts2:IMAddress3"
																	minOccurs="0" />
																<xs:element ref="contacts2:ManagerName"
																	minOccurs="0" />
																<xs:element ref="contacts2:CompanyMainPhone"
																	minOccurs="0" />
																<xs:element ref="contacts2:AccountName"
																	minOccurs="0" />
																<xs:element ref="contacts2:NickName"
																	minOccurs="0" />
																<xs:element ref="contacts2:MMS" minOccurs="0" />
																<xs:element ref="documentlibrary:LinkId"
																	minOccurs="0" />
																<xs:element ref="documentlibrary:DisplayName"
																	minOccurs="0" />
																<xs:element ref="documentlibrary:IsFolder"
																	minOccurs="0" />
																<xs:element ref="documentlibrary:CreationDate"
																	minOccurs="0" />
																<xs:element ref="documentlibrary:LastModifiedDate"
																	minOccurs="0" />
																<xs:element ref="documentlibrary:IsHidden"
																	minOccurs="0" />
																<xs:element ref="documentlibrary:ContentLength"
																	minOccurs="0" />
																<xs:element ref="documentlibrary:ContentType"
																	minOccurs="0" />
																<xs:element ref="notes:Subject" minOccurs="0" />
																<xs:element ref="notes:MessageClass"
																	minOccurs="0" />
																<xs:element ref="notes:LastModifiedDate"
																	minOccurs="0" />
																<xs:element ref="notes:Categories" minOccurs="0" />
																<!-- TODO <xs:element ref="tasks:Rtf" minOccurs="0" /> -->
																<xs:element ref="tasks:Subject" minOccurs="0" />
																<xs:element ref="tasks:Importance" minOccurs="0" />
																<xs:element ref="tasks:UtcStartDate"
																	minOccurs="0" />
																<xs:element ref="tasks:StartDate" minOccurs="0" />
																<xs:element ref="tasks:UtcDueDate" minOccurs="0" />
																<xs:element ref="tasks:DueDate" minOccurs="0" />
																<xs:element ref="tasks:Categories" minOccurs="0" />
																<xs:element ref="tasks:Recurrence" minOccurs="0" />
																<xs:element ref="tasks:Complete" minOccurs="0" />
																<xs:element ref="tasks:DateCompleted"
																	minOccurs="0" />
																<xs:element ref="tasks:Sensitivity"
																	minOccurs="0" />
																<xs:element ref="tasks:ReminderTime"
																	minOccurs="0" />
																<xs:element ref="tasks:ReminderSet"
																	minOccurs="0" />
															</xs:all>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Range" type="xs:string"
											minOccurs="0" />
										<xs:element name="Total" type="xs:integer"
											minOccurs="0" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:all>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>